

.wrapper {
    background-color: rgb(34, 31, 31);
    display: flex;
    overflow-x: scroll;
    /* overflow-y: scroll; */
    /* border: 5px solid green; */
}

.artist-timeline {
    padding: 10px;
    border-radius: 10px;
    flex: 0 0 300px;
    text-align: left;
    height: 100vh;
    margin: 20px;
    /* background-color: white; */
    box-shadow: inset;
    /* display:flex; */
    flex-direction: column;
    font-size: 30px;
    overflow-y:scroll;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 10px 5px 0 rgba(51, 51, 51, 0.2);
}

.title {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    width: 200px;
    color: white;
}

.element {
    border: 2px solid black;
    text-align: center;
    /* padding: 20px 0px; */
    margin: 10px 0px; 
    overflow: hidden;
    position: relative;
}

.element img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
  }
  
  .element:hover .overlay {
    opacity: 1;
  }